.FooterMapPage{

    position :relative;
    top:-300px;
}
.boxshow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.boxshow:hover{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    cursor:grab;
    border-radius: none;
    transform: scale(0.9);
    transition: 1s;
}
.text3d{
    color: #192f45;
    letter-spacing: .15em;
    font-weight: bold;
    /* text-decoration: dashed; */
    text-shadow: 
      -1px -1px 1px #efede3, 
      2px 8px 35px rgba(0, 0, 0, 0.9);
  
 
 
}