/* Add smooth sliding for the mobile menu
.collapse.navbar-collapse {
    transition: transform 2s ease;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  .btn-light {
    background-color: white;
    color: var(--bs-primary);
  }
  
  .btn-outline-light {
    border-color: white;
    color: white;
  }
   */
   /* Add smooth sliding for the off-canvas menu */
.offcanvas {
    transition: transform 2s ease;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  .btn-light {
    background-color: white;
    color: var(--bs-primary);
  }
  
  .btn-outline-light {
    border-color: white;
    color: white;
  }
  
  .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .ThemeColor{
    background-color: #52069a;
  }

#Hovering{
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
#Hovering:focus,
#Hovering:hover {
  color: #fff;
}
#Hovering:focus:after,
#Hovering:hover:after {
  width: 100%;
  left: 0%;
}

#Hovering:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/* From Uiverse.io by cssbuttons-io */ 
.LoginHover {
  text-decoration: none;
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  padding-bottom: 3px;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;

 
  color: var(--color);
}

.LoginHover:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.LoginHover:hover {
  color: #fff;
  box-shadow:  0 0 10px #560bad,2px 3px 5px #d4b8f3 ;
}

.LoginHover:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.LoginHover:hover:before {
  top: -30px;
  left: -30px;
}

.LoginHover:active:before {
  background: #3a0ca3;
  transition: background 0s;
}
