/* Scoped styles for VerifyEmail */
.verify-email .otp-container {
  width: 850px;
  height: 720px;
}

.verify-email .otp-input {
  width: 40px;
}

@media (max-width: 768px) {
  .verify-email .otp-section {
    padding: 2rem 1rem;
  }
  .shadow{
    box-shadow: none;
  }

  .verify-email .otp-container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .verify-email #otpbutton {
    width: 80%;
    font-size: 14px;
    padding: 10px;
    margin: 15px auto;
  }
}

/* Rest of the CSS, scoped for mobile */
